
*
{
  box-sizing: border-box;
 
}
.back-black
{
  height: 100vh;
opacity: 1;
}
.color1
{
  background-color: #924EBB;
}
.color2
{
  background-color: #41B8D4;
}
.color3
{
  background-color: #F9A603;
}
.color4
{
  background-color: #E73C6A;
}
.color5
{
  background-color: #7CB641;
}
section
{
  /* background-image: url(../image/download\ \(2\).jpg); */
  background-position: center;
  height: 100vh;
}
.countant
{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #991EBB;
}
 .under-word
{
  color:#E73C6A;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 2.5em;
  background: linear-gradient(to right, #924EBB , #41B8D4, #F9A603, #E73C6A,#7CB641);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


button
{
  background-color: #E73C6A;
  color: aliceblue;
  font-size:1.3em ;
  border-radius: 5px;
  align-self: flex-end;
  box-shadow: 5px 5px 5px lightblue;
  border: 0;
}
button:hover
{
  background-color:#FE3C6A;
  box-shadow: 5px 5px 5px lightgray inset;
}
#asd1
{
  color:#33B641;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
@media screen and (max-width: 768px) {
  .under-word
  {
    font-size: 1.3rem;
    
  }
  h4
  {
    font-size: 1rem;

  }
  h5
  {
    font-size: 0.8rem;

  }
  button
  {
    font-size: 0.8rem;
  }
}